#profilepic{
	width: 250px;
	height: auto;
}

*{
	font-family: 'Ubuntu', sans-serif;
}

.eighty{
	width: 150px;
}

#gmap_canvas{
	height: 60vh;
	width: 100%;
}

.bgprof{
	background: 
		linear-gradient(
		rgba(50, 60, 40, 0.30),
		rgba(20, 10, 10, 0.6),
     	rgba(0, 0, 0, 8)
    	), url(https://wallpaperaccess.com/full/829031.jpg) ;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

nav{
	background-image: linear-gradient(to right, #ffffff 0%, #dadada 35%, #d4d4d4 65%, #d1d1d1 100%);
}

#weyt{
	font-weight: bold;
}